body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSP26D1OHdcDiYiPETN9o84Fvoe4rbDDBV3I5ovbEng0tt78zNW0qyQpWj4a2B5j1ANwd0&usqp=CAU);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h3{
    font-family: 'Caprasimo', cursive;
    text-align: center;
    font-size: 33px;
    color: white;
    margin-bottom: 40px;
}

h1{
    font-weight: 600;
    text-align: center;
    margin-bottom: 36px;
    color: white;
}

button{
    border-radius: 8px;
    padding: 10px;
}
footer{
    margin-top: 132px;
}
